.button
    width: 100%;
    color: white;
    text-decoration: none;
    height: 100%;
    background: #de7487;
    border-radius: 5px;
    display: block;
    font-size: 30px;
    padding: 12px 12px 12px 30px;


li.buttons
    padding: 10px 40px 10px 0;
